<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <link href="~/Content/angular-material.min.css" rel="stylesheet" />
    <link href="~/Content/angular-material.layouts.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/angular-toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/App/Framework/Dashboard/chDashboard.css" rel="stylesheet" />
    <link href="~/App/Framework/chFramework.css" rel="stylesheet" />
    <link href="~/App/Framework/Menu/chMenu.css" rel="stylesheet" />
    <link href="~/App/Framework/Create/chCreate.css" rel="stylesheet" />
    <link href="~/App/Framework/Content/chContent.css" rel="stylesheet" />
    <link href="~/App/Framework/Messages/chMessages.css" rel="stylesheet" />

    <script src="~/Scripts/tinymce/tinymce.min.js"></script> 
    <script src="~/Scripts/toastr.js"></script>
   
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script> 

    <script src="~/Scripts/ngStorage.js"></script> 
    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/angular-moment.min.js"></script>
    <script src="~/Scripts/angular-mocks.js"></script>
    <script src="~/Scripts/once.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script> 
    
    <script src="~/Scripts/angular-material/angular-material.min.js"></script>
    <script src="~/Scripts/angular-material/angular-material-mocks.js"></script> 

    <script src="~/App/Framework/Menu/chMenuModule.js"></script>
    <script src="~/App/Framework/Menu/chMenuController.js"></script>
    <script src="~/App/Framework/Menu/chMenuDirective.js"></script>
    <script src="~/App/Framework/Menu/chMenuItemDirective.js"></script>

    <script src="~/App/Framework/Messages/chMessagesModule.js"></script>
    <script src="~/App/Framework/Messages/chMessagesController.js"></script>
    <script src="~/App/Framework/Messages/chMessagesDirective.js"></script>

    <script src="~/App/Framework/Create/chCreateModule.js"></script>
    <script src="~/App/Framework/Create/chCreateController.js"></script>
    <script src="~/App/Framework/Create/chCreateDirective.js"></script>

    <script src="~/App/Framework/Content/chContentModule.js"></script>
    <script src="~/App/Framework/Content/chContentController.js"></script>
    <script src="~/App/Framework/Content/chContentDirective.js"></script>

    <script src="~/App/Framework/Dashboard/chDashboardModule.js"></script>
    <script src="~/App/Framework/Dashboard/chDashboardController.js"></script>
    <script src="~/App/Framework/Dashboard/chDashboardDirective.js"></script>

    <script src="~/App/Framework/chFrameworkModule.js"></script>
    <script src="~/App/Framework/chFrameworkController.js"></script>
    <script src="~/App/Framework/chFrameworkDirective.js"></script>

    <script src="~/App/Framework/Messages/Services/messagesCRUDService.js"></script>
    <script src="~/App/Framework/Dashboard/Services/dashboardCRUDService.js"></script>
    <script src="~/App/Framework/Create/Services/createCRUDService.js"></script>
    <script src="~/App/Framework/Content/Services/contentCRUDService.js"></script>


    <script src="~/App/appModule.js"></script>
    <script src="~/App/appConfig.js"></script> 
    <script src="~/App/appRouteConfig.js"></script>

    



</head>
<body>
   
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
